body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: .5rem 1rem;
}

.conteiner {
    margin: 0 auto;
    max-width: 900px;
}